html,
body {
  background-color: rbg(255, 255, 255);
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  margin: 0;
  border: 0;
  padding: 0;
}

input:focus {outline: none;}

header {
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #666;
}

.left-header {
  padding: 5px;
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container {height: 16px;}

.top-logo {
  height: 16px;
  padding: 0;
  border: 0;
  margin: 0;
}

.center-header {
  width: 506px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  height: 32px;
  width: 426px;
  display: flex;
  align-items: center;
}

.search-container {
  height: 30px;
  width: 418px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-right: none;
}

.search-bar {
  height: 24px;
  width: 340px;
  padding: 0;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  border: none;
}

.search-button {
  background-color: #f9f9f9;
  height: 32px;
  width: 65px;
  padding: 0 20px;
  border: 1px solid #ccc;
  color: #666;
}

.fa-microphone {margin: 0 20px;}

.right-header {
  padding: 5px;
  width: 204px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-logo {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #107516;
  color: white;
  font-weight: 400;
  border-radius: 50%;
  border-color: #107516;
}
